.StudentList table {
  width: 100%;
}
.StudentList td,
.StudentList th {
  cursor: default;
}

.StudentList .spinner-container{
  width:100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.StudentList thead{
  position: -webkit-sticky;
  position: sticky;
  top:0;
  background-color: rgb(244, 245, 245);
  z-index: 1;
}

.StudentList{
  padding-top: 0;
}

.StudentList>.row:first-child{
  margin-top: 20px;
}